/* :: Basic Elements :: */

body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

em,
.value {
    color: antiquewhite;
}

/* :: Generic classes :: */

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button {
    cursor: pointer;
    color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    width: 200px;
    padding: 10px;
}

.button:hover {
    color: #fcd3a1;
    border-bottom-color: #fcd3a1;
}

.hide,
#GameMenu.hide {
    display: none;
}

/* :: Main Menu :: */

#Options-container {
    width: 600px; /* force to have 2 options per line */
}

#Options-container > * {
    display: inline-block;
    width: 200px;
    padding: 0;
    margin: 20px;
}

#Options-ghostPieceContainer,
#Options-ghostPiece {
    cursor: pointer;
}

#Options-ghostPiece {
    vertical-align: middle;
}

#Help ul {
    list-style-type: none;
}

#Help ul li {
    text-align: left;
}

/* :: Canvas :: */

#CanvasContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mainCanvas {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* :: Game Menu :: */

#GameMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 185px;
    margin-left: -185px; /* same as width */
    z-index: 10;
}

#GameMenu-top {
    margin-top: 100px;
}

#GameMenu-bottom > .button {
    padding: 10px 0;
    width: initial;
}

#Message {
    margin-top: 30px;
    color: red;
}

/* :: Range slider :: */

.rangeInput {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 15px;
    border-radius: 5px;
    opacity: 0.8;
    transition: opacity 0.2s;
    outline: none;
}

.rangeInput:hover {
    opacity: 1;
}

.rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(220, 10, 10);
    cursor: pointer;
}

.rangeInput::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(220, 10, 10);
    cursor: pointer;
}
