body
    {
    background-color: black;
    color: white;
    text-align: center;
    }


em
    {
    color: antiquewhite;
    }


#mainCanvas
    {
    position: absolute;

    border: 1px solid rgba(255, 255, 255, 0.2);
    }


.button
    {
    cursor: pointer;
    }


#MainMenu, #Options, #Help, #GameMenu
    {
    position: absolute;
    display: none;
    }


#GameMenu-top, #GameMenu-bottom
    {
    position: absolute;
    }


#Options-container > *
    {
    display: inline-block;
    width: 200px;
    padding: 0;
    margin: 20px;
    }


#Help ul
    {
    list-style-type: none;
    }

#Help ul li
    {
    text-align: left;
    }